.vercel
.next
node_modules
.npm-cache
.env
.env.local
.env.*.local
pulled.production.env
*.log
.edge-*
.edge-profile
.frames
.tmp-*.ps1
71837af4bd01490f8259a3591a24ec1f
QF2R05TVmEhGZjrNcL6zS1lxnoKYavAewqDs3ydUtJpH9bIfBPiCXO7Mkgu48W
fJqwoki7Qj0pSY9TWDyn
mAVERICK1!
tj@pARADISECLAIMS.COM
favicon-work-sheet.png
live-site-check.png
live-site-check-2.png
tmp-tiktok-profile.png
twitch-ref.png